#frame-content {
    padding: 30px 10px;
    box-sizing: border-box;
  }
  body {
    padding: 0px 10px;
    margin: 60px auto;
    
    height: 100%;
    max-width: 400px;
  }
  body div:first-child{
    font-size: 0.875rem;
    border: 2px solid  #e8e8e8;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden
  }