body{
    padding-top: 4.2rem;
    padding-bottom: 16.5rem;
}
footer {
    transition: transform 0.3s ease; /* 动画效果 */
    transform: translateY(100%); /* 初始隐藏 */
}
footer.show {
    transform: translateY(0); /* 显示 */
}