<!DOCTYPE html>

{% extends 'blog/extends/frameBase.html' %}

{% block head %}
    <title>登陆</title>
{% endblock %}

{% block header %}
    <h3>登 陆</h3>
{% endblock %}

{% block content %}
<form method="post" class="flex-c" style="width:100%">
    {% csrf_token %}

    {% for item in form %}
      {% if item != form.captcha %}
        <tr>
          <td>{{ item.label_tag }}</td>
          <td>{{ item }}</td>
          <td>{{ item.errors }}</td>
        </tr>
      {% else %}
        {{ item.label_tag }}
        <div id="captcha">{{ item }}</div>
        {{ item.errors }}
      {% endif %}
    {% endfor %}

    
    <input type="submit" value="提交" style="margin-top: 40px;">
    
    <div class="flex-r justify-center" style="width:100%;margin-top: 20px;">
        <a href="{% url 'blog:create' %}" style="padding:0px 6px">注册账号</a>
        <a href="#" style="padding:0px 6px">找回密码</a>
    </div>
    
  </form>
{% endblock  %}
    
{% block end %}{% endblock  %}


