<footer class="bg-light fixed-bottom py-4" id="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <p class="display-6">联系方式</p>
                <ul class="list-unstyled">
                    <li>Email: <a class=" btn-primary" href="mailto:2920007919@qq.com"><small>2920007919@qq.com</small></a></li>
                    <li>QQ: <a href="tencent://Message/?Uin=2920007919&websiteName=q-zone.qq.com&Menu=yes"><small>2920007919</small></a></li>
                    <li>微博: <a href="https://weibo.com/u/6218460300" target="_blank"><small>@编了一个织</small></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="text-center mt-3">
                    <small>&copy; Your Company Name. All Rights Reserved.</small>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</footer>